# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# envVariables
envVariables.json

# dependencies
node_modules/

src/components/profile/bg-test.png
src/components/profile/pfp-test.png

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
